@media (max-width: 1300px) {
  .footer__dicoration-big {
    left: 58%;
  }
  .footer__dicoration-small {
    width: 95px;
  }
}

@media (max-width: 924px) {
  .header__telephone-text span {
    display: block;
  }
  .footer__dicoration-big {
    width: 45px;
    left: 88%;
  }
  .footer__dicoration-small {
    width: 95px;
  }
}

@media (max-width: 758px) {
  .header__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__telephone-img {
    display: none;
  }
  .header__telephone-text {
    font-weight: lighter;
  }
  .header__map-img {
    display: none;
  }
  .header__inst {
    display: none;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0px 30px 0px;
    text-align: center;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__menu > div {
    margin-top: 15px;
  }
  .footer__contact {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer__dicoration {
    display: none;
  }
}
